*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
    color-scheme: light dark;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}